page-about {}

#QRSHOW {
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

#receiveqr {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#receiveaddress {
  margin-top: 5px;
  color: var(--white-color);
}

.scroll-content {
  overflow-y: hidden;
}

.buttonFixedWrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  transform: translateY(-60px);
}
