page-about {}

.alert-md .alert-radio-label {
  color: white;
}

.alert-md [aria-checked=true] .alert-radio-icon {
  border-color: var(--base-color);
}

.alert-md .alert-radio-inner {
  background-color: var(--base-color);
}

.alert-md [aria-checked=true] .alert-radio-label {
  color: var(--base-color);
}
