// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "./animate";
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input {
  font-size: 0.85em;
}

body {
  --base-color: #a955fc;
  --base-light-color: #c78fff;
  --white-color: #FFFFFF;
  --gray-color: #a1a1a1;
  --secondary-color: #242424;
  --third-color: #1b1b1b;
  background-color: var(--secondary-color);
}

.loading-md .spinner-crescent circle {
  stroke: var(--base-color);
}

.loading-md .loading-wrapper {
  background: var(--secondary-color);
  color: var(--white-color);
}

.alert-md .alert-wrapper {
  background-color: var(--secondary-color);
}

.alert-md .alert-message {
  overflow: hidden;
}

.alert-md .alert-button {
  color: var(--base-color);
}

.alert-md .alert-input {
  border-bottom: 1px solid #dedede;
  color: white;
}

.alert-md .alert-input:focus {
  border-bottom: 2px solid var(--base-color);
}

.alert-md .alert-message,
.alert-md .alert-input-group {
  color: var(--white-color);
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  box-shadow: inset 0 -1px 0 0 var(--base-color);
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  box-shadow: inset 0 -1px 0 0 var(--white-color);
}

.label-md-primary,
.item-input .label-md-primary,
.item-select .label-md-primary,
.item-datetime .label-md-primary {
  color: var(--base-color);
}

.item-md.item-block .item-inner {
  border-bottom: 0px;
  border-top: 0px;
}

.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary {
  color: var(--base-color);
}

ion-content {
  background-color: var(--secondary-color) !important;
  color: var(--white-color) !important;
}

.scroll-content {
  padding: 0px !important;
}

.toolbar-background-md {
  background-color: var(--base-color) !important;
}

.toolbar-title-md {
  color: var(--white-color) !important;
}

.tabs-md .tabbar {
  background-color: var(--base-color) !important;
}

.tabs-md .tab-button[aria-selected=true] {
  color: var(--white-color);
  padding: 0;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: var(--white-color);
}

h1 {
  color: var(--white-color);
}

h2 {
  color: var(--white-color);
}

h3 {
  color: var(--white-color);
}

h4 {
  color: var(--white-color);
}

h5 {
  color: var(--white-color);
}

h6 {
  color: var(--white-color);
}

h7 {
  color: var(--white-color);
}

#balanceShow {
  background-color: var(--base-color) !important;
  height: 70px;
}

#transactionShow {
  height: calc(100% - 70px);
}

.hugeCenterText {
  text-align: center;
  font-size: 28px;
  position: relative;
  top: 55%;
  transform: translateY(-50%);
}

.smallCenterText {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.item-md {
  background-color: var(--third-color);
  color: var(--white-color);
  margin-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}

.item-md-addpadding {
  padding-left: 16px;
}

.item-md.list-header-md {
  background: rgba(0, 0, 0, 0);
  border-top: 0px;
}

.list-md .item-block .item-inner {
  border-bottom: 0px;
  border-top: 0px;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.transactionInfo {
  width: 0%;
}

.transactionAmount {
  width: 100%;
  transform: translateY(20%);
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  white-space: nowrap;
  overflow: visible
}

.transactionAmountInner {
  float: right;
  transform: translateX(-1px);
}

.transactionInfoDate {
  color: var(--gray-color);
  font-size: 0.7em;
}

.transactionConfirmations {
  color: var(--gray-color);
  font-size: 0.5em;
}

.transactionInfoType {
  text-transform: uppercase;
}

.purpleToggle:checked {
  background-color: #1b1b1b;
}

//for the toggle Pin
.toggle-md.toggle-checked .toggle-inner {
  background-color: var(--base-color); // Whatever color you want
}

.purpleToggle.toggle-md.toggle-checked .toggle-icon {
  background-color: var(--base-light-color);
}

.purpleToggle.toggle-ios.toggle-checked .toggle-icon {
  background-color: var(--base-light-color);
}
