page-about {}

.errorWrapper {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: red;
}

#errorText {}

.negative {
  color: red;
}

#QRSHOW {
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

#receiveqr {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#receiveaddress {
  margin-top: 5px;
  color: var(--white-color);
}
